<div class="header-card-main-container">
  <div class="card header-card-main-hero">
  </div>
</div>

<h1>Hello Hero</h1>

<%= cl_image_tag @hero.avatar, height: 75, width: 75, crop: :fill, :radius => "max" %>

<h2><%= @hero.name %></h2>
<h2><%= @hero.weight %></h2>
<h2><%= @hero.total_money %></h2>
<h3>This hero is linked to <%= @hero.user.email  %></h3>

<h4><%= link_to "Edit Hero", edit_hero_path %></h4>
<h4><%= link_to "Delete Hero", hero_path, method: :delete, data: { confirm: "Are you sure?" } %></h4>



<h1>TO KILL AFTER</h1>

<h3><%= link_to "TODAY", daily_journey_today_path %></h3>
<% @hero.daily_journeys.each do |daily_journey| %>
  <li><%= link_to "Date : #{daily_journey.date}", daily_journey_path(date: daily_journey.date) %></li>
<% end %>
