<h1> Daily Journey - <%= @daily_journey.hero.name %></h1>
<h2> <%= @daily_journey.hero.user.email %></h2>
<p>Date : <%= @daily_journey.date %></p>
<p>Date : <%= @daily_journey.id %></p>



<h1>Infos Sleep Log</h1>
<p>Linked to Daily Journey : <%= @daily_journey.sleep_log.date  %> <%= @daily_journey.hero.name  %> <%= @daily_journey.sleep_log.id  %></p>

<p><%= @daily_journey.sleep_log.start_time  %></p>
<p><%= @daily_journey.sleep_log.end_time  %></p>
<p><%= @daily_journey.sleep_log.sleep_duration %></p>
<p><%= @daily_journey.sleep_log.comment %></p>
<p><%= @daily_journey.sleep_log.date %></p>

<% if @daily_journey.locked == false %>
<p><%= link_to "Edit SleepLog :", edit_sleep_log_path(@daily_journey.sleep_log) %></p>
<% end %>
