<h1> Daily Journey - <%= @daily_journey.hero.name %></h1>
<h2> <%= @daily_journey.hero.user.email %></h2>
<p>Date : <%= @daily_journey.date %></p>
<p>Date : <%= @daily_journey.id %></p>



<h3>Infos Sleep Log</h3>
<p>Relation verification - Linked to Daily Journey : <%= @daily_journey.sleep_log.date  %> <%= @daily_journey.hero.name  %> <%= @daily_journey.sleep_log.id  %></p>

<p><%= @daily_journey.sleep_log.start_time  %></p>
<p><%= @daily_journey.sleep_log.end_time  %></p>
<p><%= @daily_journey.sleep_log.sleep_duration %></p>
<p><%= @daily_journey.sleep_log.comment %></p>
<p><%= @daily_journey.sleep_log.date %></p>

<% if @daily_journey.locked == false %>
<p><%= link_to "Edit Sleep Log :", edit_sleep_log_path(@daily_journey.sleep_log) %></p>
<% end %>


<h3>Infos Weight Log</h3>
<p>Relation verification - Linked to Daily Journey : <%= @daily_journey.weight_log.date  %> <%= @daily_journey.hero.name  %> <%= @daily_journey.weight_log.id  %></p>

<p><%= @daily_journey.weight_log.value  %></p>
<p><%= @daily_journey.weight_log.weight_variation %></p>
<p><%= @daily_journey.weight_log.comment %></p>
<p><%= @daily_journey.weight_log.date %></p>

<% if @daily_journey.locked == false %>
<p><%= link_to "Edit Weight Log :", edit_weight_log_path(@daily_journey.weight_log) %></p>
<% end %>

<h3>Infos Activity Log</h3>
<p>Relation verification - Linked to Daily Journey : <%= @daily_journey.activity_log.date  %> <%= @daily_journey.hero.name  %> <%= @daily_journey.activity_log.id  %></p>

<p><%= @daily_journey.activity_log.done  %></p>
<p><%= @daily_journey.activity_log.spent_klr %></p>
<p><%= @daily_journey.activity_log.comment %></p>
<%= cl_image_tag @daily_journey.activity_log.proof, height: 200, width: 200, crop: :fill%>

<% if @daily_journey.locked == false %>
<p><%= link_to "Edit Activity Log :", edit_activity_log_path(@daily_journey.activity_log) %></p>
<% end %>

<h3>Infos Money Log</h3>
<p>Relation verification - Linked to Daily Journey : <%= @daily_journey.money_log.date  %> <%= @daily_journey.hero.name  %> <%= @daily_journey.money_log.id  %></p>

<p><%= @daily_journey.money_log.gained_money  %></p>
<p><%= @daily_journey.money_log.spent_money %></p>
<p><%= @daily_journey.money_log.balanced_money %></p>
<p><%= @daily_journey.money_log.comment %></p>

<% if @daily_journey.locked == false %>
<p><%= link_to "Edit Money Log :", edit_money_log_path(@daily_journey.money_log) %></p>
<% end %>

<h3>Infos Mood Log</h3>
<p>Relation verification - Linked to Daily Journey : <%= @daily_journey.mood_log.date  %> <%= @daily_journey.hero.name  %> <%= @daily_journey.mood_log.id  %></p>

<p><%= @daily_journey.mood_log.morning_value  %></p>
<p><%= @daily_journey.mood_log.evening_value %></p>

<% if @daily_journey.locked == false %>
<p><%= link_to "Edit MoodLog :", edit_mood_log_path(@daily_journey.mood_log) %></p>
<% end %>
