
<div class="row">
  <div class="col s12">
    <h4 class="center-align"> Daily Journey - <%= @daily_journey.hero.name %></h4>
  </div>
  <div class="col s6">
    <p class="center-align">Date : <%= @daily_journey.date %></p>
  </div>
  <div class="col s6">
    <p class="center-align">Date : <%= @daily_journey.id %></p>
  </div>
</div>

<div><input type="text" class="datepicker" data-heroid="<%= @hero.id %>"></div>

<div class="section">
    <h5>Section 1</h5>
    <div class="row">
      <div class="col s12 m4">

        <div class="card" style="height:320px">
          <div class="card-image">
            <%= image_tag "sleep.jpg", alt: "sleep" %>
            <span class="card-title">Sleep Log</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">edit</i></a>
          </div>
          <div class="card-content">
            <p><%= @daily_journey.sleep_log.start_time  %></p>
            <p><%= @daily_journey.sleep_log.end_time  %></p>
            <p><%= @daily_journey.sleep_log.sleep_duration %></p>
            <p><%= @daily_journey.sleep_log.comment %></p>
          </div>
        </div>

      </div>
      <div class="col s12 m4">

        <div class="card" style="height:320px">
          <div class="card-image">
            <%= image_tag "sleep.jpg", alt: "sleep" %>
            <span class="card-title">Activity Log</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">edit</i></a>
          </div>
          <div class="card-content">
            <p><%= @daily_journey.activity_log.done  %></p>
            <p><%= @daily_journey.activity_log.spent_klr %></p>
            <p><%= @daily_journey.activity_log.comment %></p>
            <span class="activator grey-text text-darken-4 right" style="font-size: 14px">see more</span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Activity Log<i class="material-icons right">close</i></span>
            <%= cl_image_tag @daily_journey.activity_log.proof, height: 200, width: 200, crop: :fill%>
          </div>
        </div>

      </div>
      <div class="col s12 m4">

        <div class="card" style="height:320px">
          <div class="card-image">
            <%= image_tag "sleep.jpg", alt: "sleep" %>
            <span class="card-title">Weight Log</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">edit</i></a>
          </div>
          <div class="card-content">
            <p><%= @daily_journey.weight_log.value  %></p>
            <p><%= @daily_journey.weight_log.weight_variation %></p>
            <p><%= @daily_journey.weight_log.comment %></p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section">
    <div class="section">
    <h5>Section 2</h5>
    <div class="row">
      <div class="col s12 m4">

        <div class="card" style="height:320px">
          <div class="card-image">
            <%= image_tag "sleep.jpg", alt: "sleep" %>
            <span class="card-title">Mood Log</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">edit</i></a>
          </div>
          <div class="card-content">
            <p><%= @daily_journey.mood_log.morning_value  %></p>
            <p><%= @daily_journey.mood_log.evening_value %></p>
          </div>
        </div>

      </div>

      <div class="col s12 m4">

        <div class="card" style="height:320px">
          <div class="card-image">
            <%= image_tag "sleep.jpg", alt: "sleep" %>
            <span class="card-title">Meditation Log</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">edit</i></a>
          </div>
          <div class="card-content">
            <p><%= @daily_journey.meditation_log.done  %></p>
            <p><%= @daily_journey.meditation_log.duration %></p>
          </div>
        </div>

      </div>

      <div class="col s12 m4">

        <div class="card" style="height:320px">
          <div class="card-image">
            <%= image_tag "sleep.jpg", alt: "sleep" %>
            <span class="card-title">Money Log</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">edit</i></a>
          </div>
          <div class="card-content">
            <p><%= @daily_journey.money_log.gained_money  %></p>
            <p><%= @daily_journey.money_log.spent_money %></p>
            <p><%= @daily_journey.money_log.balanced_money %></p>
            <span class="activator grey-text text-darken-4 right" style="font-size: 14px">see more</span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Activity Log<i class="material-icons right">close</i></span>
            <p><%= @daily_journey.money_log.comment %></p>
          </div>
        </div>

      </div>
    </div>
    </div>
    </div>
  <div class="divider"></div>










<h3>Infos Sleep Log</h3>
<p>Relation verification - Linked to Daily Journey : <%= @daily_journey.sleep_log.date  %> <%= @daily_journey.hero.name  %> <%= @daily_journey.sleep_log.id  %></p>

<p><%= @daily_journey.sleep_log.start_time  %></p>
<p><%= @daily_journey.sleep_log.end_time  %></p>
<p><%= @daily_journey.sleep_log.sleep_duration %></p>
<p><%= @daily_journey.sleep_log.comment %></p>
<p><%= @daily_journey.sleep_log.date %></p>

<% if @daily_journey.locked == false %>
<p><%= link_to "Edit Sleep Log :", edit_sleep_log_path(@daily_journey.sleep_log) %></p>
<% end %>


<h3>Infos Weight Log</h3>
<p>Relation verification - Linked to Daily Journey : <%= @daily_journey.weight_log.date  %> <%= @daily_journey.hero.name  %> <%= @daily_journey.weight_log.id  %></p>

<p><%= @daily_journey.weight_log.value  %></p>
<p><%= @daily_journey.weight_log.weight_variation %></p>
<p><%= @daily_journey.weight_log.comment %></p>
<p><%= @daily_journey.weight_log.date %></p>

<% if @daily_journey.locked == false %>
<p><%= link_to "Edit Weight Log :", edit_weight_log_path(@daily_journey.weight_log) %></p>
<% end %>

<h3>Infos Activity Log</h3>
<p>Relation verification - Linked to Daily Journey : <%= @daily_journey.activity_log.date  %> <%= @daily_journey.hero.name  %> <%= @daily_journey.activity_log.id  %></p>

<p><%= @daily_journey.activity_log.done  %></p>
<p><%= @daily_journey.activity_log.spent_klr %></p>
<p><%= @daily_journey.activity_log.comment %></p>
<%= cl_image_tag @daily_journey.activity_log.proof, height: 200, width: 200, crop: :fill%>

<% if @daily_journey.locked == false %>
<p><%= link_to "Edit Activity Log :", edit_activity_log_path(@daily_journey.activity_log) %></p>
<% end %>

<h3>Infos Money Log</h3>
<p>Relation verification - Linked to Daily Journey : <%= @daily_journey.money_log.date  %> <%= @daily_journey.hero.name  %> <%= @daily_journey.money_log.id  %></p>

<p><%= @daily_journey.money_log.gained_money  %></p>
<p><%= @daily_journey.money_log.spent_money %></p>
<p><%= @daily_journey.money_log.balanced_money %></p>
<p><%= @daily_journey.money_log.comment %></p>

<% if @daily_journey.locked == false %>
<p><%= link_to "Edit Money Log :", edit_money_log_path(@daily_journey.money_log) %></p>
<% end %>

<h3>Infos Mood Log</h3>
<p>Relation verification - Linked to Daily Journey : <%= @daily_journey.mood_log.date  %> <%= @daily_journey.hero.name  %> <%= @daily_journey.mood_log.id  %></p>

<p><%= @daily_journey.mood_log.morning_value  %></p>
<p><%= @daily_journey.mood_log.evening_value %></p>

<% if @daily_journey.locked == false %>
<p><%= link_to "Edit Mood Log :", edit_mood_log_path(@daily_journey.mood_log) %></p>
<% end %>

<h3>Infos Meditation Log</h3>
<p>Relation verification - Linked to Daily Journey : <%= @daily_journey.meditation_log.date  %> <%= @daily_journey.hero.name %> <%= @daily_journey.meditation_log.id  %></p>

<p><%= @daily_journey.meditation_log.done  %></p>
<p><%= @daily_journey.meditation_log.duration %></p>

<% if @daily_journey.locked == false %>
<p><%= link_to "Edit Meditation Log :", edit_meditation_log_path(@daily_journey.meditation_log) %></p>
<% end %>
